<%= render 'lookup' %>

<!--
<br>
<form>
  <fieldset class="form-group">
    <input type="text" class="form-control" id="venueName" placeholder="Venue Name">
  </fieldset>
  <fieldset class="form-group">
    <input type="text" class="form-control" id="venueOwner" placeholder="Owner">
  </fieldset>
    <fieldset class="form-group">
    <input type="text" class="form-control" id="venueAddress" placeholder="Address">
  </fieldset>
</form>
-->