html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#errorMessage{
	height: 200px;
	width: 100px;
}

.no-padding{
	padding: 0 !important;
}

#currentLocationButton{
	padding-bottom: 20px;
	padding-top: 15px;
}


#map {
	height: 400px;
	width: 500px;
}

#floating-panel {
	position: absolute;
	top: 10px;
	left: 25%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto','sans-serif';
	line-height: 30px;
	padding-left: 10px;
}

#searchResults {
	height: 200px;
	width: 100px;
}